.h2-about {
    position: fixed;
    top: 1px;
    right: 1em;
    text-align: right;
  }
  
.h2-about a {
    text-decoration: none; 
    font-family: 'Distant Galaxy Regular', sans-serif;
    color: rgb(223, 223, 223);
    font-size: smaller;
}

.people-list {
  width: 100vw;
  height: 80vh;
  display: flex;
  
}

.people-list div div {
  display: flex;
  padding-top: 5vh;
  background: rgba(0, 0, 0, 0.199);
}

@media screen and (max-width: 500px) {
  .dropdowns {
     align-items: center;
  }
  .dropdown {
    font-size: small;
  }
  .people-list div div {
    align-items: flex-start;
    padding-top: 6vh;
  }
}
