.profile-container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-top: 12%;
    color:white;
}

.profile-pict{
    width: 280px;
    height: auto;
    margin: 0 auto;
    width:300px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
    z-index:50000;
}

.profile-settings{
    display: inline;
    flex-direction: row;
    padding:10px;
}

.profile-name{
    font-size:20px;
    font-weight: bold;
    width: auto;
    font-family: 'Distant Galaxy Regular';
}

.profile-description{
    font-family: 'Distant Galaxy Regular';
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    padding: 0;
    width: 80%;
}

.profile-quote{
    padding:35px;
    width:80%;
    text-align: center;
}
.profile-name{
    padding:10px;
}

.profile-settings{
  margin: 0 auto;
  text-align: center;
  color:white;
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
}
.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:30px;
    margin: 0 auto;
}

.profile-email{
    padding-bottom:15px;
}

.profile-email-style{
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin: 2px; 
}

.profile-form-text-area{ 
    background-image:url(https://i.imgur.com/OYOcNwj.png); 
    background-color:transparent; 
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.profile-btn {
    text-align: center;
    width: 100px;
    margin:0 auto;
    padding-top: 20px;   
}

.profile-btn-style{
    width:100px;
    height: auto;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color:rgb(212, 0, 99);
    box-shadow: 0 1px 6px 0 rgb(218, 126, 22);
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
}



@media screen and (max-width: 800px ) {
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .profile-pict{
        width: 200px;
        height: auto;
}
    .profile-description{
        width: 80%;
        margin: 0 auto;
}
.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:30px;
    margin: 0 auto;
}

.profile-email{
    padding-bottom:15px;
}

.profile-email-style{
    font-size: 14px;
    
}
.profile-form-text-area{ 
    width: 250px;
    height: 100px;
    font-size: 15px;
}

.profile-btn {
    width: 80px;
    padding-top: 18px;   
}

.profile-btn-style{
    width:60px;
    
}
}