.profile-container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-top: 10%;
   
}

.profile-pict{
    width: 280px;
    height: auto;
    margin: auto;
    width:300px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 #FFE81F; 
    z-index:50000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

   
.profile-pict:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.profile-settings{
    display: inline;
    flex-direction: row;
    padding:10px;
}

.profile-name{
    font-size:35px;
    font-weight: bold;
    width: auto;
    font-family: 'Distant Galaxy Regular';
    color: #FFE81F;
    text-shadow: 2px 2px black;
}

.profile-description{
    font-family: 'Distant Galaxy Regular';
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    padding: 0;
    width: 80%;
    color: white;
    text-shadow: 2px 2px black;
}

.profile-quote{
    font-size:22px;
    padding:5px;
    width:80%;
    text-align: center;
}
.profile-name{
    padding:10px;
}

.profile-settings{
  margin: 0 auto;
  text-align: center;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight:bold;
  font-family: 'Heebo', sans-serif;
}
.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:30px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.profile-email{
    padding-bottom:15px;
}

.profile-email-style{
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 #FFE81F; 
    font-size: 14px;
    font-weight: bold;
    margin: 2px; 
    font-family: 'Quicksand', sans-serif;
   
}

.profile-form-text-area{ 
    
    background-color:white; 
    background-repeat:no-repeat;
    background-size: 35%;
    background-position: center;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.profile-btn {
    text-align: center;
    width: 100px;
    margin:0 auto;
    padding-top: 20px; 
}

.profile-btn-style{
    width:100px;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    height: auto;
    font-weight: bold;
    box-shadow: 0 1px 6px 0 rgb(218, 126, 22);
    border-radius: 10px;
    border: 3px solid lightgray;
    box-shadow: 0 1px 6px 0 rgb(255, 213, 76); 
}

.tellmemore {
    font-size: small;
    padding-top: 2em;
    color: lightgray;
    transition: all ease 100ms ;
}
.tellmemore:hover {
    color: #FFE81F; 
}



@media screen and (max-width: 800px ) {
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .profile-name{
        font-size: 25px;
    }
    .profile-pict{
        width: 200px;
        height: auto;
}
    .profile-description{
        width: 80%;
        margin: 0 auto;
}
.profile-form{
    display: flex;
    flex-direction: column;
    padding-top:30px;
    margin: 0 auto;
}

.profile-email{
    padding-bottom:15px;
}

.profile-email-style{
    font-size: 13px;
    width: auto;
    
}
.profile-form-text-area{ 
    width: 250px;
    height: 100px;
    font-size: 15px;
}

.profile-btn {
    width: 80px;
    padding-top: 18px;   
}

.profile-btn-style{
    width:60px;
    
}
.tellmemore {
    font-size: xx-small;
    padding-top: 1em;
}

}